.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
   margin: 2em 0em;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}